* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(imgs/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 30vw;
}

.cutie {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  object-fit: cover;
  object-position: top;
  border: 12px solid rgb(105, 105, 105);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
